.profile{
    background-color: white;
    border-radius: 6px;
    width: 100%;
    display: inline-block;
}

.profile-name{
    line-height: 18px;
    padding: 40px;
}

.profile-name .name{
    /* text-transform: uppercase; */
    font-size: 19px;
    font-weight: bold;
    font: sans-serif;
}

.profile-name .title{
    font-size: 12px;
    color: #7777;
}

.profile-image{
    margin-top: -10px;
    -webkit-clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
    clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}

.profile-image img{
    width: 100%;
}

/* Information */
.profile-information{
    top:0;
    left: 0;
    margin: -35px 5px 30px;
}

.profile-information .timeline .timeline-content{
    margin-top: 2px;
    margin-bottom: 12px;
}

.timelineItem-text{
    font-size: 12.5px !important;
    color: darkslategray !important;
    /* font-weight: 300 !important; */
}

.timelineItem-text > a {
    color: black !important;
    /* text-decoration: none; */
    font-size: 2px !important;
}

.timelineItem-text > span{ 
color:black;

}

.profile .button-containor{
    width: 100%;
    display: 'flex';
    justify-content: center;
    margin-top: 20px;
}